<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166017429974-uq4gta9m20cm5ithtq4ev35lidg38t60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166017429974-uq4gta9m20cm5ithtq4ev35lidg38t60</string>
	<key>API_KEY</key>
	<string>AIzaSyDLrYEBqCTLLT55Z8MLnq3K5wTfcQpbAi0</string>
	<key>GCM_SENDER_ID</key>
	<string>166017429974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.demo</string>
	<key>PROJECT_ID</key>
	<string>presimex-655c8</string>
	<key>STORAGE_BUCKET</key>
	<string>presimex-655c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166017429974:ios:a82bcbdb84cdc3f35f7477</string>
</dict>
</plist>