<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>PesoOnline  Use user location information for loan approval</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>PesoOnline  Use user location information for loan approval</string>
	<key>NSCameraUsageDescription</key>
	<string>PesoOnline Access your camera for setting avatars, uploading authentication data, and code scanning services</string>
</dict>
</plist>
